extends layout

block content
  div.container
    div.content
      table.table.table-striped
        thead
          tr
            th Checkbox
            th Course ID
            th Course Name
            th No. of credit
            th Lecturer
        tbody
            //each item in results
            //    tr #{item.id}
            //        td
            //            input(
            //                type='checkbox'
            //                checked=false
            //                name='id'
            //                value=item.id)/
            //        td #{item.idcourse}
            //        td #{item.coursename}
            //        td #{item.credit}
            //        td #{item.lecturer}

  div.footer
